.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar-item{
  font-family: 'san-serif', cursive;
}

body{
  background: linear-gradient(white, grey)fixed;
}
img{
  border-spacing: 10em;
}

.flex-container {
display: flex;
justify-content: space-evenly;
}